#calculator{
    max-width: 600px;
    padding: 2rem;
    border-radius: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #3e3e3e;
}

#calculator__display{
    height: 7rem;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #181818;
}

#calculator__display-digits{
    color: #fff;
    font-size: 5rem;
    
}

#calculator__key-pad{
    display: flex;
    flex-wrap: wrap;
}

button{
    border-radius: .5rem;
    padding: 1rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    flex: 1 0 calc(25% - 2rem);
    font-size: 2rem;
    color: #fff;
    background-color: #2e302e;
}